/* layout
------------------------------------------------------------*/

body {
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    position: relative;
}

.l-container {
    width: 100%;
    margin: 0 30px;
}