<%- include('../inc/_header'); %>
    <!--▼ Content area ▼-->
    <main class="p-top">
        <h1 style="text-align: center; font-size: 40px; margin-top: 50px; color:red;">This is my template</h1>
    </main>
    <!--▲ Content are ▲-->
    <%- include('../inc/_footer'); %>