<!--▼ Footer ▼-->
<footer class="c-footer">

</footer>
<!--▲ Footer ▲-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>
<script src="assets/js/main.js"></script>
</body>

</html>